name: Workflow Commands
on: [push]

jobs:
  testing-wf-commands:
    runs-on: ubuntu-latest
    steps:
      - name: Setting an error message
        run: echo "::error::Missing semicolon"
      - name: Setting a error message with params
        run: echo "::error title:Error Title,file=error_file.txt,line=2,endL=3,col=3,endColumn=7::Missing Semicolon"